<% layout('layouts/boilerplate') %>
<h1 class="pt-5">Public Stories</h1>
<button class="btn btn-success"><a href="/stories/new">Create a story</a></button>
<div class="container grid">
        <% for(let story of stories) {%> 
            <div class="card text-center">
                <% if(currentUser) {%> 
                    <%- showEditIcon(currentUser.id, story.user.id, story.id) %> 
                <% } %> 
                <div class="card-header">
                    <a href="/user/<%= story.user.id %> ">
                        <img class="icon" src="<%= story.user.image %>" alt="none">
                        <p class="d-inline"><%= story.user.displayName %></p>
                    </a>
                </div>
                <div class="card-body"> 
                    <h5 class="card-title"><%= story.title %> </h5>
                    <p class="card-text"><%= cutBody(story.body) %> </p>
                    <a href="/stories/<%= story._id %> " class="btn btn-secondary">Read More</a>
                </div>
                <div class="card-footer text-muted">
                    <%= moment(story.createdAt).format("dddd, MMMM Do YYYY, h:mm:ss a") %>        
                </div>
          </div>
        <% } %> 
</div>