<% layout('layouts/boilerplate') %> 
<h2 class="pt-5 fs-1 pb-3"><%= name %>'s Dashboard</h2>
<button class="btn btn-success"><a href="/stories/new">Create a story</a></button>
<% if(stories.length){%> 
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <!-- create table rows for each story -->
            <% for(let story of stories) {%> 
                
                  <tr>
                    <th scope="row"><a href="/stories/<%= story._id %>" class="clickable"><%= story.title %></a></td>
                      <td><%= moment(story.createdAt).format("dddd, MMMM Do YYYY, h:mm:ss a") %></td>
                      <td><%= story.status %></td>
                      <td id="actions">
                        <a href="/stories/<%= story.id %>/edit" class="btn btn-success small-button"><i class="fas fa-edit fa-small"></i></a>
                        <form method="POST" action="/stories/<%= story.id %>?_method=DELETE" id="deleteForm">
                          <button type="submit" class="btn btn-danger small-button"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                      </td>
                  </tr>
                
            <% } %> 
        </tbody>
      </table>
<% } else {%> 
   <p> You have not yet created a story</p>
<% } %> 