<% layout('layouts/boilerplate') %> 

<div class="container grid profile-grid">


    <div class="card profile-card" >
        <img src="<%= user.image %> " class="card-img-top" alt="..." id="profile-pic">
        <div class="card-body">
          <p class="card-title fw-bold fs-1 "><%= user.displayName %> </p>
          <p class="card-text">Member since  <%= moment(user.createdAt).format("MMMM Do YYYY") %> </p>
        </div>
    </div>
    <% if(stories.length) {%> 
        <% for(let story of stories) {%> 
            <div class="card text-center">
                <% if(currentUser) {%> 
                    <%- showEditIcon(currentUser.id, story.user.id, story.id) %> 
                <% } %> 
                <div class="card-header">
                    <a href="/user/<%= story.user.id %> ">
                        <img class="icon" src="<%= story.user.image %> " alt="none">
                        <p class="d-inline"><%= story.user.displayName %></p>
                    </a>
                </div>
                <div class="card-body"> 
                    <h5 class="card-title"><%= story.title %> </h5>
                    <p class="card-text"><%= cutBody(story.body) %> </p>
                    <a href="/stories/<%= story._id %> " class="btn btn-secondary">Read More</a>
                </div>
                <div class="card-footer text-muted">
                    <%= moment(story.createdAt).format("dddd, MMMM Do YYYY, h:mm:ss a") %>        
                </div>
          </div>
        <% } %> 
    <% } else {%> 
        <p class="lead"><%= user.firstName %> doesn't have any stories yet</p>
    <% } %> 

</div>